<div class="container">
  <a href="/">back</a>
  <h2>New Post</h2>
  <form method="post" action="/post/new" class="form-horizontal well">


        <fieldset>
          <legend>Enter Post Details</legend>
          <div class="control-group">
            <label class="control-label" for="input01">Name</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input01">
            </div>            
          </div>

          <div class="control-group">
            <label class="control-label" for="input01">Email</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input01">
            </div>            
          </div>

          <div class="control-group">
            <label class="control-label" for="textarea">Description</label>
            <div class="controls">
              <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
            </div>
          </div>          

          <div class="control-group">
            <label class="control-label" for="select01">Select Category</label>
            <div class="controls">
              <select id="select01">
                <option name="1">Casual Encounters</option>
                <option>Casual Encounters</option>
                <option>Apartments for Rent</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>


        </fieldset>


  </form>
</div>
